<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <connectionStrings>
        <add name="SqlServerConnection"
             connectionString="Server=localhost,1433;Initial Catalog=TUSUR_DB;Database=master;User Id=SA;Password=yourStrong(!)Password;" />
    </connectionStrings>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>